<!doctype html>
<html>
    <style>
        body    {
            background-image: url("{{ url_for('static', filename='prism.png') }}");
            font-family: "Roboto", sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;    
        }
    </style>
    <head>
        <title>Robot Data Server API</title>
    </head>

    <body>
        <a href="http://104.230.28.139:5002/energycontroller" style="color:white">Energy Controller Live Data</a>
        |
        <a href="http://104.230.28.139:5002/energycontroller/api" style="color:white">Api</a>
        <br/>
        <br/>
        <a href="http://104.230.28.139:5002/thermocontroller" style="color:white">Thermo Controller Live Data</a>
        |
        <a href="http://104.230.28.139:5002/thermocontroller/api" style="color:white">Api</a>
        <br/>
        <br/>
        <a href="http://104.230.28.139:5002/gpscontroller" style="color:white">Gps Controller Live Data</a>
        |
        <a href="http://104.230.28.139:5002/gpscontroller/api" style="color:white">Api</a>
        <br/>
        <br/>
        <a href="http://104.230.28.139:5002/networkserver" style="color:white">Network Server Live Data</a>
        |
        <a href="http://104.230.28.139:5002/networkserver/api" style="color:white">Api</a>
        <br/>
        <br/>
        <a href="http://104.230.28.139:5002/nsl" style="color:white">Network Server Internal Log</a>
        |
        <a href="http://104.230.28.139:5002/nsl/api" style="color:white">Api</a>
        <br/>
        <br/>
        <a href="http://104.230.28.139:5002/connectioncontroller" style="color:white">Connection Controller Live Data</a>
        |
        <a href="http://104.230.28.139:5002/connectioncontroller/api" style="color:white">Api</a>
        <br/>
        <br/>
        <a href="http://104.230.28.139:5002/ccil" style="color:white">Connection Controller Interaction Log</a>
        |
        <a href="http://104.230.28.139:5002/ccil/api" style="color:white">Api</a>
        <br/>
        <br/>
        <a href="http://104.230.28.139:5002/ccl" style="color:white">Connection Controller Internal Log</a>
        |
        <a href="http://104.230.28.139:5002/ccl/api" style="color:white">Api</a>
        <br/>
        <br/>
    </body>
    <!-- <script type="text/javascript" src="./test.js"></script> -->
    <script src="{{ url_for('static', filename='test.js') }}"></script>
</html>